<%- include("partials/header.ejs") %>
<p class="error-text">Sorry, We do not currently have the data for the area you searched for.</p>
<p class="text-big error-msg">We are sorry for your inconvenience. Maybe you can try searching for the nearest city. Our databases do not include small or minor villages.</p>